<a href="https://colab.research.google.com/github/MarcosDz-022023/Marcos/blob/main/Desafio_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# Desafio do Titanic - 2023.02.18

# Carga Bibliotecas e Dados
import pandas as pd
from sklearn.linear_model import LinearRegression

In [13]:
train = pd.read_csv("https://raw.githubusercontent.com/diogenesjusto/FIAP/master/SHIFT/Data/titanic/train.csv")

In [14]:
test = pd.read_csv("https://raw.githubusercontent.com/diogenesjusto/FIAP/master/SHIFT/Data/titanic/test.csv")

In [17]:
# Preparação/Modelo
mod = LinearRegression()
X = train.loc[:,['Embarked']]

In [21]:
# Variável Embarked é tratada como Dummy (caso similar as meses do Pib), visto que é uma variável categórica
X = pd.get_dummies(X)

In [22]:
Y = train.loc[:,['Survived']]
mod.fit(X ,Y )

LinearRegression()

In [26]:
X_test = test.loc[:,['Embarked']]

In [27]:
X_test = pd.get_dummies(X_test)

In [46]:
p = mod.predict(X_test)

In [51]:
Survived_Predict = [1 if  i > 0.5 else 0 for i in p]
df_pred = test.loc[:,['PassengerId']]
df_pred

     PassengerId
0            892
1            893
2            894
3            895
4            896
..           ...
413         1305
414         1306
415         1307
416         1308
417         1309

[418 rows x 1 columns]

In [52]:
df_pred['Survived'] = Survived_Predict
df_pred

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [56]:
from google.colab import files

In [57]:
df_pred.to_csv('predict.csv', index=False)
df_pred

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [59]:
files.download('predict.csv')